$cWhite: white;
$cBlack:#5e5a54;
$cSubTitle: #535353;
$cBgGray: #999995;
$cBg01: #faf8f6;
$cBg02:#f2ede4;
$cWineRed: #904669;
$contentMaxWidth1070: 1070px;
$contentMaxWidth720: 720px;

$navHeight: 100px;